*{
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container1{  /*container for buttons*/
display:flex;
}

.button1{
  margin: auto;
  margin-bottom: 30px;
  border-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 24px;
  font-family: sans-serif;
  color: white;
  
}
.text1{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
}
.text2{
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
}
.text3{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
}
.header{
  padding: 1px;
  text-align: center;
  background-color: darkturquoise;
  color: white;
  font-size: 20px;
} 
.header h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.navbar a {
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: dimgray;
}